<najah-bread-crumb [pageName]="'Contact Us'" [breadCrumb]='breadCrumb'
 [imageUrl]="'assets/images/contact-us-1.jpg'"></najah-bread-crumb>

<div class="container-fluid">
        <div class="row ">
            <div class="col-md-9">
                    <p class="contact-us">
                        <strong>Najah Human Resources Consultancy</strong><br>
                        Suite # 178, Damas Tower (Burj 2000),<br>
                        Sharjah, UAE<br>
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-phone fa-stack-1x"></i></span>
                        <a href="tel:971123456789"> 
                               &nbsp; +971 123456789<br></a>
                               
                               <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-phone fa-stack-1x"></i></span>
                        <a href="tel:971123456789">&nbsp; +971 123456789<br></a>
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x"></i></span>
                        <a href="mailto:info@najahhr.com" target="_blank">&nbsp; info@najahhr.com</a> <br>
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-globe fa-stack-1x"></i></span>
                        <a href="https://najahhr.web.app/" target="_blank">&nbsp;  https://najahhr.web.app/</a></p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28913.75479243656!2d55.191083568948216!3d25.060553573417234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6c36babd2c79%3A0x675853b2595d1a65!2sJumeirah%20Village%20Circle%20-%20Dubai%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2sin!4v1575831456733!5m2!1sen!2sin" 
                             height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                    <div class="col-md-3">
                        <najah-side-nav-details></najah-side-nav-details>
                    </div>
                </div>
            </div>