<najah-bread-crumb [pageName]="'Contact Us'" [breadCrumb]='breadCrumb' [imageUrl]="'assets/images/contact-us-1.jpg'">
</najah-bread-crumb>

<div class="container-fluid">
    <div class="row ">
        <div class="col-md-9">
            <div class="contact-us margin-bottom-30">
                
                <ul class="location">
                    <li>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-map-marker fa-stack-1x"></i></span>
                </li>
                <li class="margin-left-16">
                <a (click)="redirectToMap()">
                <strong>Najah Human Resources Consultancy</strong><br>
                    Office # 51,Floor #13th<br>
                    Burjuman Buisness Tower, Burjman<br>
                </a>
            </li>
            </ul>

            <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x"></i></span>
                &nbsp; UAE :- <a href="tel:+971556867281">
                   +971 55 686 7281<br></a>

                   <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-phone fa-stack-1x"></i></span>
                    &nbsp; UAE :- <a href="tel:+971505824107">
                       +971 50 582 4107<br></a>


                       <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-phone fa-stack-1x"></i></span>
                        &nbsp; UAE :- <a href="tel:+971562656845">
                           +971 56 265 6845<br></a>


                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-phone fa-stack-1x"></i></span>
                    &nbsp; India :-  <a href="tel:+919939243299">+91 99392 43299<br></a>

                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i></span>
                <a href="mailto:info@najahhr.com" target="_blank">&nbsp; info@najahhr.com</a> <br>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-globe fa-stack-1x"></i></span>
                <a href="www.najahhr.com" target="_blank">&nbsp; https://najahhr.web.app/</a>
                </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14434.076165237175!2d55.3021965!3d25.2531195!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x502d0604cd2571b6!2sBurJuman!5e0!3m2!1sen!2sin!4v1583777442097!5m2!1sen!2sin"
                height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="col-md-3">
            <najah-side-nav-details></najah-side-nav-details>
        </div>
    </div>
</div>