<najah-bread-crumb [pageName]="'About Us'" [breadCrumb]='breadCrumb'
 [imageUrl]="'assets/images/About-us-min.jpg'"></najah-bread-crumb>

<div class="container-fluid ">
<div class="row">
    <div class="col-md-9">
                    <h2 class="featurette-heading">Manpower<span class="text-muted"> Recruitment Agencies</span></h2>
                    <p class="desc">
                        Najah Human Resource is one of the pioneering independent global employer oriented manpower recruitment agencies. 
                        We provide Overseas Recruitment Services from Asian and African countries to all GCC countries.
                    </p>

                    <p class="desc">
                        The company works to connect the employers with the potential manpower. We are one of the top recruitment agencies 
                        facilitating a number of business houses all over the globe with our one of a kind recruitment services.
                    </p>


                    <p class="desc">
                        Our recruitment services are designed to benefit the job offering companies. 
                        As a global recruiting organization, we work to provide quality solutions for employment. 
                        If you are an employer and have a job opening, we can help you in finding the right employee for your needs. 
                        With us, you are sure to find
                         most knowledgeable and skilled individuals for various positions in your organization.
                    </p>

                    <h2 class="featurette-heading">Overseas Recruitment Agencies Serving <span class="text-muted">All GCC</span></h2>
                    <p class="desc">
                        We also have the option of conducting a confidential search on our Job Board. Our team of experts work hard to come up with 
                        highly professional services that can benefit the employer to best possible extent.
                    </p>


                    <p class="desc">
                        As a recruitment agency, we will help with your search for potential employee. 
                        Our highly expert consultants work to offer the added benefit of offering recommendations to 
                        the potential employers so that they can find the best candidates holding specialization in the relevant skills.
                         Our huge database allows us to benefit our clients to the best core.
                    </p>

                    <p class="desc">
                        <a routerLink="">Najah Human Resource</a> stands to support your employee search, you can rely on us completely.
                         However, you may easily find a number of alternatives for your search for potential candidate, 
                         but there are chances that you may not find satisfactory results. So why 
                         take any chances when the best is available at your service. Allow us to work for you, 
                        so that you can employ the best manpower to your business organisation.
                    </p>

                    <h2 class="featurette-heading">Our Specialization</h2> 
                    
                <najah-industry-selector></najah-industry-selector>
                    
    </div>
    <div class="col-md-3">
            <najah-side-nav-details></najah-side-nav-details>
    </div>
    </div>    
</div>