<najah-bread-crumb [pageName]="'About Us'" [breadCrumb]='breadCrumb'
 [imageUrl]="'assets/images/About-us-min.jpg'"></najah-bread-crumb>

<div class="container-fluid ">
<div class="row">
    <div class="col-md-9">
                    <h2 class="featurette-heading">Lorem Ipsum <span class="text-muted">onec ullamcorper nulla non</span></h2>
                    <p class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                               in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                                mollit anim id est laborum.
                    </p>

                    <p class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                               in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                                mollit anim id est laborum.
                    </p>


                    <p class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                               in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                                mollit anim id est laborum.
                    </p>

                    <h2 class="featurette-heading">Lorem Ipsum <span class="text-muted">onec ullamcorper nulla non</span></h2>
                    <p class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                               in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                                mollit anim id est laborum.
                    </p>


                    <p class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                               in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                                mollit anim id est laborum.
                    </p>

                    <p class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                               in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                                mollit anim id est laborum.
                    </p>

                    <h2 class="featurette-heading">Our Specialization</h2> 
                    
                <najah-industry-selector></najah-industry-selector>
                    
    </div>
    <div class="col-md-3">
            <najah-side-nav-details></najah-side-nav-details>
    </div>
    </div>    
</div>