<najah-bread-crumb [pageName]="'Services'" [breadCrumb]='breadCrumb'
 [imageUrl]="'assets/images/services.jpg'"></najah-bread-crumb>

<div class="container-fluid width-80">
    <div class="row">
        <div class="col-md-9">
                        <h2 class="featurette-heading">Our Commitment <span class="text-muted">towards Human Resource Development</span></h2>
                        <p class="desc">
                                Searching for a potential candidate with specific skills can be frustrating and tedious. 
                                You may fail to find satisfactory option for your requirements even after spending countless
                                 hours on traditional job boards. Waste no more time and effort, as we are here at your service. 
                                 Najah Human Resource is one of the leading recruitment agency providing International Recruitment
                                  Services for Skilled, Semiskilled and Unskilled workers of all Categories to all GCC countries
                                   from India, Pakistan, Nepal, Bangladesh, Sri Lanka, Uganda, Phillipines, Vietnam etc. We have years of experience and
                                 expertise of offering recruitment solutions for wide range requirements to employers..
                        </p>
    
                        <p class="desc">
                                We have changed the way employers look for skilled people. On hiring our services, 
                                you are saved from pulling over millions of options out there. 
                                The recruitment experts of Najah Human Resource will email you only the job 
                                profiles that you care about and will arrange Personal Interviews in Overseas Countries 
                                to select the right candidates of your choice. In addition, the expert tips from our 
                                professionals can help you fin  ding better options for your requirements.
                        </p>
    
    
                        <!-- <p class="desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                  ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                   in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                                    mollit anim id est laborum.
                        </p>
    
                        <h2 class="featurette-heading">Lorem Ipsum <span class="text-muted">onec ullamcorper nulla non</span></h2>
                        <p class="desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                  ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                   in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                                    mollit anim id est laborum.
                        </p>
    
    
                        <p class="desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                  ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                   in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                                    mollit anim id est laborum.
                        </p>
    
                        <p class="desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                                  ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                   in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                                    mollit anim id est laborum.
                        </p> -->
    
                        <h2 class="featurette-heading">Our Specialization</h2> 
                        
                    <najah-industry-selector></najah-industry-selector>
                        
        </div>
        <div class="col-md-3">
                <najah-side-nav-details></najah-side-nav-details>
        </div>
        </div>    
    </div>