<endeavour-header></endeavour-header>
<ngx-loading-bar></ngx-loading-bar>
<div style="position: relative;" class="main-content" >
    <div id="dpsp-floating-sidebar" class=" dpsp-position-left dpsp-shape-rectangular 
    dpsp-hide-on-mobile dpsp-button-style-1 dpsp-has-button-background " style="top: 277px;">

   <share-buttons [theme]="'circles-dark'"
   [include]="['facebook','twitter','linkedin','google','pinterest']"
   [url]="'https://twitter.com/'"
   [autoSetMeta]="false"
   [size]="-3"
  ></share-buttons>
  
  </div>
    <router-outlet></router-outlet>
</div>
<endeavour-footer></endeavour-footer>