<najah-header></najah-header>
<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51, 51, 51, 0.8)"
size = "medium"
color = "#c3dfe0"
type = "square-loader"
fullScreen = "true"
><p style="color: white" > Loading... </p>
</ngx-spinner>
<div style="position: relative;" class="main-content" >
    <div  class="floating-sidebar position-left">
  <najah-social-share></najah-social-share>
  </div>

  <div  class="floating-sidebar grid position-right">
    <a href="mailto:info@najahhr.com" target="_blank"><button mat-mini-fab><mat-icon>mail_outline</mat-icon></button></a>
    <a href="tel:+971505824107"> <button mat-mini-fab><mat-icon>call</mat-icon></button></a>
    </div>

    <router-outlet></router-outlet>
</div>
<najah-footer></najah-footer>