.floating-sidebar.dpsp-position-left {
    left: 0;
}

.floating-sidebar {
    position: fixed;
    top: 30%;
    z-index: 9998;
}



.width-100{
    width: 100% !important;
}

.desc{
    font-size: 14px;
}

.main-content{
    min-height: 100vh
}