<endeavour-header></endeavour-header>
<ngx-loading-bar></ngx-loading-bar>
<div style="position: relative;" class="main-content" >
    <div  class="floating-sidebar position-left" style="top: 277px;">

   <share-buttons [theme]="'circles-dark'"
   [include]="['facebook','twitter','linkedin','google','pinterest']"
   [url]="'http://endeavourhr.me/'"
   [autoSetMeta]="false"
   [size]="-3"
  ></share-buttons>
  
  </div>
    <router-outlet></router-outlet>
</div>
<endeavour-footer></endeavour-footer>