.specilization-button{
    margin: 10px 0px 0px 10px;
    padding: 10px 32px;
    width: 85%;;
    white-space: nowrap;
}


@media screen and (max-width: 760px) {
    .specilization-button{
        white-space: pre-wrap;
    }
    }