<najah-bread-crumb [pageName]="'Industries'" [breadCrumb]='breadCrumb'
 [imageUrl]="'assets/images/services-length.png'"></najah-bread-crumb>

<div class="container-fluid ">
    <div class="row">
        <div class="col-md-9 row">
        <div class="col-md-6 description" *ngFor="let industry of specialization">
            <div class="name">{{industry.name}}</div>
            <img class="industry-img" align="left" [src]="industry.image">
           <p class="max-lines"> 
               {{getSlicedString(industry.description,300)}}
           </p> 
           <button type="button" class="btn btn-info" (click)="routeToIndustry(industry)"><i class="fa fa-arrow-right"></i> Have Look</button>
        </div>
        </div>
        <div class="col-md-3">
            <najah-side-nav-details></najah-side-nav-details>
    </div>
    </div>
</div>