img.industry-img{
    height: 150px;
    min-height: 150px;
    margin-right: 20px;
    width: 230px;
}

.name{
    color:#8bb4e0;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 10px;
}

.description{
    padding: 0px 20px 20px 10px;;
}