<div class="client-says">

    <div>
    <span>Looking for Team Mates</span>
    <hr class="divider">
    <img  class="img-fluid" src="./assets/images/looking-for-workers.jpg" (click)="routeByUrl('employer')">
    </div>
    <div>
        <span>What Client Says</span>
    <hr class="divider">

    <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                    <img class="rounded-circle client-image" src="./assets/images/client.png" alt="Generic placeholder image" >
                    <div class="text-center client-name">Client Name, Client Location</div>
                    <p>“
                        Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,
                         vestibulum at eros. Praesent commodo cursus magna.”</p>
            </ng-template>  
            <ng-template carouselSlide>
                    <img class="rounded-circle client-image" src="./assets/images/client.png" alt="Generic placeholder image" >
                    <div class="text-center client-name">Client Name , Client Location</div>
                    <p>“
                        Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,
                         vestibulum at eros. Praesent commodo cursus magna.”</p>
            </ng-template>  
            <ng-template carouselSlide>
                    <img class="rounded-circle client-image" src="./assets/images/client.png" alt="Generic placeholder image" >
                    <div class="text-center client-name">Client Name , Client Location</div>
                    <p>“
                        Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,
                         vestibulum at eros. Praesent commodo cursus magna.”</p>
            </ng-template>  
 
          </owl-carousel-o>

    </div>

    <div>
        <span>Looking For Job</span>
    <hr class="divider">
    <img  class="img-fluid" src="./assets/images/job-apply.jpg" (click)="routeByUrl('jobseeker')">
    </div>

    <div>
        <span>Latest Job</span>
    <hr class="divider">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide  *ngFor="let title of jobTitle">
            <span class="job-title">{{title}}</span>
            <table class="table table-bordered ">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Number of Position</th>
                    <th scope="col">Location</th>
                    <th scope="col">Division</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let job of jobs[title];let i=index">
                    <td>{{job.postions}}</td>
                    <td>{{job.locations}}</td>
                    <td>{{job.division}}</td>
                  </tr>
                  </tbody>
                  </table>
        </ng-template>   

      </owl-carousel-o>
    </div>

</div>