<div class="client-says">
    <img  class="img-fluid" src="./assets/images/looking-for-workers.jpg">

    <div>
        <span>What Client Says</span>
    <hr class="divider">

    <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                    <img class="rounded-circle client-image" src="./assets/images/client.png" alt="Generic placeholder image" >
                    <div class="text-center client-name">Client Name, Client Location</div>
                    <p>“
                        Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,
                         vestibulum at eros. Praesent commodo cursus magna.”</p>
            </ng-template>  
            <ng-template carouselSlide>
                    <img class="rounded-circle client-image" src="./assets/images/client.png" alt="Generic placeholder image" >
                    <div class="text-center client-name">Client Name , Client Location</div>
                    <p>“
                        Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,
                         vestibulum at eros. Praesent commodo cursus magna.”</p>
            </ng-template>  
            <ng-template carouselSlide>
                    <img class="rounded-circle client-image" src="./assets/images/client.png" alt="Generic placeholder image" >
                    <div class="text-center client-name">Client Name , Client Location</div>
                    <p>“
                        Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,
                         vestibulum at eros. Praesent commodo cursus magna.”</p>
            </ng-template>  
 
          </owl-carousel-o>

    </div>
</div>