<najah-bread-crumb [imageUrl]="'assets/images/jobs.jpg'" [pageName]="'Job Seeker'" [breadCrumb]="breadCrumb">
</najah-bread-crumb>

<div class="container-fluid ">
  <div class="row">
    <div class="col-md-9 row padding">
      <form class="width-100" [formGroup]="jobSeekerForm" (ngSubmit)="jobSeekerForm.valid?submitForm():''">
        <mat-card>
          <mat-card-title>
        <div class="align-center">Your Profile</div>
        <hr class="divider">
      </mat-card-title>
      <mat-card-content>
        <div class="row">

          <div class="col-md-12">
            <mat-form-field class="width-100">
              <mat-label>What's Your Good Name</mat-label>
              <input matInput formControlName="name" required placeholder="Mr. John Binsley">
              <mat-error *ngIf="jobSeekerForm.get('name').hasError('required')">This feild is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field class="width-100">
              <mat-label>Where we can drop a mail to you</mat-label>
              <input matInput formControlName="email" required placeholder="john@najahhr.com">
              <mat-error *ngIf="jobSeekerForm.get('email').hasError('required')">This feild is required</mat-error>
              <mat-error *ngIf="jobSeekerForm.get('email').hasError('email')">Please provide correct email-id
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field class="width-100">
              <mat-label>Subject</mat-label>
              <input matInput formControlName="subject" placeholder="I am applying for">
              <mat-error *ngIf="jobSeekerForm.get('subject').hasError('required')">This feild is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field class="width-100">
              <label>Upload your resume</label>
              <div class="uploadfilecontainer" (click)="fileInput.click()" najahFileDrag
                (onFileDropped)="uploadFile($event)">
                <input  formControlName="resume" hidden type="file" #fileInput
                  (change)="uploadFile($event.target.files)" >

                  <input matInput formControlName="resume" hidden>
              </div>
              <div class="files-list" *ngFor="let file of files;let i= index">
               
                <p>  <i class="pdf-color fa fa-file-pdf-o" *ngIf="fileExt==='pdf'"></i>
                  <i class="word-color fa fa-file-word-o" *ngIf="fileExt==='doc'||fileExt==='docx'"></i>
                  <i class="excel-color fa fa-file-excel-o" *ngIf="fileExt==='xls'||fileExt==='xlsx'||fileExt==='csv'"></i>
                  {{ file }} </p>
                <button class="delete-file" (click)="deleteAttachment(i)">
                  <img src="/assets/images/delete.webp">
                </button>
              </div>
              <mat-error *ngIf="jobSeekerForm.get('resume').hasError('required')">This feild is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="width-100">
              <mat-label>You are applying for ?</mat-label>
              <mat-select formControlName="industry" required>
                <mat-option *ngFor="let industry of specialization" [value]="industry">{{industry.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="jobSeekerForm.get('industry').hasError('required')">This feild is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="width-100">
              <mat-label>When we can wish you happy birthday</mat-label>
              <input formControlName="dob" required placeholder="30/03/1995" [max]="tomorrow" matInput
                [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>


              <mat-error *ngIf="jobSeekerForm.get('industry').hasError('required')">This feild is required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field class="width-100">
              <mat-label>Put some awesome things about you</mat-label>
              <textarea matInput formControlName="message" required
                placeholder="Ex. I have 10 years of experince..."></textarea>
              <mat-error *ngIf="jobSeekerForm.get('message').hasError('required')">This feild is required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-12 row ">
          <div class="col-md-2 offset-md-8 margin-top-20">
            <button type="save" class="btn btn-info margin-20 save float-right"><i class=" fa fa-paper-plane"></i> Send</button>
          </div>
          <div class="col-md-2 margin-top-20">
            <button type="reset" class="btn btn-info margin-20 danger float-right"><i class=" fa fa-times-circle"></i>
              Reset</button>
          </div>
        </div>
      </mat-card-content>
      </mat-card>
      </form>
    </div>
    <div class="col-md-3">
      <najah-side-nav-details></najah-side-nav-details>
    </div>
  </div>
</div>