form{
    margin: 20px;
}


.danger{
    background-color: #d81b12;
    border-color: #d81b12;
}

.danger:hover,.danger:active,.danger::selection,.danger:focus{
    background-color: #7b0e09;
    border-color: #7b0e09;
}

.align-center{
    text-align: center;
}

.save{
    background-color: #118b37;
    border-color: #118b37;
}

.uploadfilecontainer {
    background-image: url("/assets/images/upload.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 200px;
    width: 80%;
    margin: 20px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #111314;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}

.pdf-color{
    color: white;
    background-color: #ea1d1d;
}

.word-color{
    color: white;
    background-color: #0e4dda;
}

.excel-color{
    color: white;
    background-color: #217346;
}