/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ngx-share/button/themes/circles/circles-dark-theme";
@import '~@ngx-share/button/themes/default/default-theme';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


$primary-color:#389599;
$primary-color-hover:#447679;
$breadcrumb-divider: quote(">");


html, body { height: 100%; }
body { margin: 0; 
}
.container-fluid {
    width: 90%;
    padding: 0;
    font-weight: 100;
    color: #645f5f;
}

.margin-top-90{
    margin-top: 90px;
}

.sb-button, .sb-group {
    display: inline-grid !important;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

.margin-top-100{
    margin-top: 100px;
}

.btn{
    border-radius: 0px !important;
}

.margin-bottom-100{
    margin-bottom: 70px;
}

.margin-top-70{
    margin-top: 70px;
}

.divider{
    padding: 0;
    border: none;
    height: 2px;
    background-image: -webkit-linear-gradient(59deg, #3A6073, #16222A);
}

.main-content{
    margin-top: 72px;
}

.btn-primary{
    background-color: $primary-color;
    border-color:$primary-color;
}

.btn-primary:hover,.btn-primary:active{
    background-color: $primary-color-hover !important;
    border-color:$primary-color-hover !important;
}

img{
    cursor: pointer;
}

.width-100{
width: 100%;
}


img.industry-img{
    height: 150px;
    min-height: 150px;
    margin-right: 20px;
    width: 230px;
}

.margin-top-40{
    margin-top: 40px;
}

.margin-top-20{
    margin-top: 20px;
}

.mat-fab,.mat-mini-fab{
    background-color: $primary-color !important;
}

.padding-zero{
    padding: 0px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}